---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const dateFormatter = new Intl.DateTimeFormat("en", {
  month: "short",
  day: "numeric",
  year: "numeric",
  timeZone: "UTC",
});
const posts = [...(await getCollection("blog"))].sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const hasPosts = posts.length > 0;
const postSlug = (id: string) => id.replace(/\.md$/, "");
---

<BaseLayout title="Blog | Samuel Adesuyi">
  {
    hasPosts ? (
      <ul class="post-list">
        {posts.map((post) => (
          <li>
            <a href={`/blog/${postSlug(post.id)}`}>
              <span>{post.data.title}</span>
              <time datetime={post.data.date.toISOString()}>
                {dateFormatter.format(post.data.date)}
              </time>
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <section class="blog-empty" aria-label="Writing soon">
        <p>writing soon.</p>
      </section>
    )
  }
</BaseLayout>
